h1 {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #222222;
}
p {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	/* identical to box height, or 171% */

	color: #9b9b9b;
}

.title {
	padding-top: 30px;
	padding-left: 30px;
	.title-line {
		border: 1px solid #d4d4d4;
		width: 97%;
	}
}

.wrapper {
	border: 1px solid #9b9b9b;
	box-sizing: border-box;
	border-radius: 4px;
	width: 70%;
	background-color: white;
	margin-top: 150px;

	height: 70vh;
	.container {
		display: flex;
		flex-direction: row;

		.left-container {
			width: 65%;
			padding-left: 20px;
			padding-top: 20px;
			display: flex;
			.label {
				padding-top: 33px;
				p {
					font-weight: 500;
					font-size: 14px;
					margin-bottom: 50px;
					color: #9b9b9b;
					text-align: right;
					margin-right: 40px;
				}
			}
			.input {
				margin-top: 20px;

				width: 70%;
				min-width: 200px;
				.box-input {
					margin-bottom: 30px;

					input {
						width: 100%;
						height: 48px;
						border: 1px solid #9b9b9b;
						box-sizing: border-box;
						filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
						border-radius: 4px;
						padding-left: 10px;
					}
				}
			}
			.gender-wrapper {
				display: flex;
				align-items: center;
				width: 200px;
				justify-content: space-between;
				margin-bottom: 46px;
			}
		}
		.middle-line {
			border: 1px solid #d4d4d4;
			height: 19vh;
			margin-top: 37px;
		}
		.right-container {
			width: 35%;
			padding-top: 10px;

			.photo-container {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				margin-top: 27px;

				.photo-box {
					img {
						width: 160px;
						height: 160px;
						border-radius: 50%;
						object-fit: cover;
					}
				}
				.button-select {
					margin-top: 30px;
				}

				label {
					display: flex;
					align-items: center;
					justify-content: center;
					border: 1px solid #9b9b9b;
					box-sizing: border-box;
					border-radius: 24px;
					background-color: white;
					width: 140px;
					height: 36px;
					font-weight: 500;
					font-size: 14px;
					color: #9b9b9b;
				}
			}
		}
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
	-moz-appearance: textfield; /* Firefox */
}

.button-save {
	background: #db3022;
	border-radius: 25px;
	width: 100px;
	height: 36px;
	color: white;
	border: none;
	margin-left: 170px;
}

label {
	padding-left: 5px;
}

@media (max-width: 1220px) {
	.wrapper {
		flex-direction: column-reverse;
		height: 100vh;

		.container {
			flex-direction: column-reverse;
		}
	}
	.middle-line {
		display: none;
	}
	.right-container {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 800px) {
	.wrapper {
		width: 100%;
		height: 100%;
		flex-direction: column-reverse;
		height: 100vh;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 370px) {
	.input {
		width: 100%;
	}
}
