.delete-icon {
	width: 33px;
	height: 33px;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	color: #8e8e93;
}

.delete {
	display: flex;
	color: red;
	margin-top: 20px;
}
