.box {
	margin: 20px;
	min-width: 200px;

	flex: 25%;
}

.grid {
	display: flex;
	flex: 25%;
	flex-wrap: wrap;
	flex-direction: row;
}

.title {
	color: red;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.price {
	color: #db3022;
}
.seller {
	color: #9b9b9b;
	font-size: 12px;
}

.products {
	margin-top: 5em;
}

h2 {
	font-size: 20px;
	color: #9b9b9b;
}

@media (max-width: 504) {
}
