h1 {
	font-size: 28px;
}
h2 {
	font-size: 20px;
}
.wrapper-product {
	display: flex;
	flex-direction: column;
	.product-container {
		width: 100%;
		display: flex;
		margin-top: 50px;

		.left-container-product {
			.box {
				min-width: 300px;
				max-width: 500px;
				min-height: 300px;
				max-height: 500px;
				border-radius: 8px;
			}

			.crop-to-fit-product {
				align-items: center;
				overflow: hidden;
				display: flex;
				justify-content: center;
			}

			img {
				width: 100%;
				min-height: 300px;
				max-height: 500px;
			}
		}
		.right-container-product {
			.price-container {
				margin-top: 40px;

				.seller {
					font-size: 16px;
					color: #9b9b9b;
				}
				.price-product {
					font-size: 2em;
				}
			}
			.seller {
				top: 5px;
				color: #9b9b9b;
				position: relative;
			}

			.checked {
				color: orange;
			}
			h1 {
				color: black;
				font-size: 28px;
			}
			h2 {
				color: black;
				font-size: 16px;
				position: relative;
			}
			.counts {
				display: flex;

				.btn-circle.btn-sm {
					width: 30px;
					height: 30px;

					border-radius: 15px;

					font-size: 25px;
					text-align: center;
					background-color: #d4d4d4;
					border: none;
					h1 {
						bottom: 10px;
						position: relative;
						color: white;
					}
				}
				.count-btn-product {
					margin-top: 20px;
					.btn-reduce {
						background: #d4d4d4;
						border: none;
						h1 {
							color: white;
						}
					}
					p {
						margin-right: 10px;
						margin-left: 10px;
					}
					.btn-add {
						background: #d4d4d4;
						border: none;
						h1 {
							color: white;
						}
					}
				}
			}

			.buttons-product {
				margin-top: 20px;
				.chat-btn {
					width: 100px;
					height: 48px;
					border-radius: 24px;
					border: 1px solid #222222;
					background-color: white;
					color: black;
				}
				.to-bag-btn {
					width: auto;
					height: 48px;
					border-radius: 24px;
					border: 1px solid #222222;
					background-color: white;
					color: black;
				}
				.buy-btn {
					width: 8rem;
					height: 48px;
					border-radius: 24px;
					border: 1px solid #222222;
					background: #db3022;
					border: none;
				}
			}
		}
	}
	.description {
		margin-top: 3em;
		h2 {
			margin-top: 1em;
		}
		p {
			color: #9b9b9b;
		}
	}
}

.btn-reduce {
	background: #d4d4d4;
	border-radius: 50%;
	border: none;
	h1 {
		color: white;
	}
}
p {
	margin-right: 10px;
	margin-left: 10px;
}
.btn-add {
	background: #d4d4d4;
	border: none;
	h1 {
		color: white;
	}
}

#btnReduce {
	background: #d4d4d4;
	border: none;
	border-radius: 50%;
	width: 50px;
	margin-right: 10px;
	h1 {
		color: white;
	}
}

#btnAdd {
	background: #d4d4d4;
	border: none;
	border-radius: 50%;
	width: 50px;
	margin-left: 10px;
	h1 {
		color: white;
	}
}

#countBtnProduct {
	display: flex;
	width: 200px;
	display: flex;
	align-items: center;
}

.routing {
	margin-top: 120px;
	color: #9b9b9b;
	p {
		font-size: 18px;
		font-weight: 500;
	}
}

.wrapper-button {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	margin-right: auto;
	width: 150px;
	height: 120px;
	justify-content: space-around;
}

@media (max-width: 800px) {
	.product-container {
		flex-direction: column;
	}
	.right-container-product {
		.price-container {
			margin-top: 0px;
		}
	}

	.price-container {
		margin-top: 0px;
	}
}

.skeleton {
	animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
	0% {
		background-color: hsl(200, 20%, 70%);
	}
	100% {
		background-color: hsl(200, 20%, 95%);
	}
}
