.backdrop {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: var(--color-overlay, rgba(49, 53, 59, 0.68));
	display: flex;
	align-items: center;
	justify-content: center;
}
