.sidebar-nav {
	background-color: #f8f8f8;
	width: 100%;
	padding-left: 80px;
	padding-top: 40px;
	.photo-box {
		height: 70px;
		width: 70px;
		display: flex;
		align-items: center;
		border-radius: 50%;
		img {
			width: 70px;
			clip-path: circle();
		}
	}
	.profile {
		margin-top: 20px;

		.profile-name {
			font-size: 16px;
		}

		.update-profile {
			font-size: 12px;
		}
	}

	.menus {
		display: flex;
		justify-content: start;
		margin-top: 78px;
		ul {
		}
		li {
			list-style: none;
		}
	}
}
