.container-carousel-category {
	padding-top: 40px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	//background: yellow;

	.flexbox-container {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 30px;
		//background: green;
	}

	h1 {
		padding-left: 1em;
		font-size: 34px;
		top: 20px;
		position: relative;
	}
	p {
		padding-left: 1.8em;
		font-size: 20px;
		top: 20px;
		position: relative;
		color: #8e8e93;
	}
	.carousel-control-prev-icon {
		background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227153/Front%20End/Group_1163_ewy2xs.svg');
		width: 50px;
		height: 50px;
		right: 50px;
		position: relative;
	}

	.carousel-control-next-icon {
		background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227176/Front%20End/Group_1164_zb5vhd.svg');
		width: 50px;
		height: 50px;
		left: 50px;
		position: relative;
	}
}

.container-carousel-category-mobile {
	display: none;
}

@media all and (max-width: 1320px) {
	.container-carousel-category-mobile {
		display: block;
		padding-top: 40px;
		margin-right: auto;
		margin-left: auto;

		.flexbox-container {
			display: flex;
			justify-content: space-evenly;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			padding-top: 30px;
		}

		h1 {
			padding-left: 1.3em;
			font-size: 34px;
		}
		p {
			padding-left: 2.3em;
			font-size: 20px;
			color: #8e8e93;
		}
		.carousel-control-prev-icon {
			background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227153/Front%20End/Group_1163_ewy2xs.svg');
			width: 50px;
			height: 50px;
			left: 30px;
			position: relative;
		}

		.carousel-control-next-icon {
			background-image: url('https://res.cloudinary.com/calvin-cloud/image/upload/v1627227176/Front%20End/Group_1164_zb5vhd.svg');
			width: 50px;
			height: 50px;
			right: 30px;
			position: relative;
		}
	}

	.container-carousel-category {
		display: none;
	}

	.container-items {
		h1 {
			position: relative;
			right: 2em;
			font-size: 34px;
		}
		p {
			padding-left: 1.6em;
			position: relative;
			right: 3.2em;
			font-size: 20px;
			color: #8e8e93;
		}
	}
}
