.shopping-summary {
	margin-left: auto;
	margin-top: 100%;
	padding: 24px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 200px;
	border-radius: 4px;
	box-shadow: 0px 0px 10px;
	color: #8e8e93;

	h1 {
		font-size: 16px;
		color: black;
	}
	.total-price {
		display: flex;
		justify-content: space-between;
	}
	.total-price-text {
		p {
			color: #8e8e93;
		}
	}
	.price {
		h1 {
			font-size: 18px;
		}
	}
}
// @media (max-width: 1438px) {
// 	.shopping-summary {
// 		bottom: 0;
// 		position: absolute;
// 	}
// }

@media (min-width: 1438px) {
	.shopping-summary {
		display: none;
	}
}
